<section class="{{ .Site.Params.ascentColor | default "bg-pink-50" }} dark:bg-gray-900">
  <div class="container max-w-screen-lg mx-auto px-6 py-12 grid md:grid-cols-2 gap-4 lg:gap-16 items-center">
    <div>
      <h1 class="text-4xl font-bold mb-4">{{ .Site.Params.homepage.title }}</h1>
      <p class="font-light text-lg">{{ .Site.Params.homepage.description }}</p>
    </div>

    <div class="example-form">
      <div class="example-title">Get updates</div>
      <form action="https://send.pageclip.co/LJoqrGJQfF2TWEdPEgN8qlwW7qEldIiU" class="pageclip-form" method="post">
          <input class="form-control" type="text" name="name" placeholder="Your Name" required=""> 
          <input class="form-control" type="email" name="email" placeholder="your_email@example.com" required=""> 
              <!-- <input type="hidden" name="example" value="basic">  -->
          <button class="button button_cta pageclip-form__submit" type="submit"><span>Sign up</span></button>
      </form>
  </div>
    <!-- <img class="rounded-lg shadow-sm" src="{{ .Site.Params.homepage.photo }}" alt="{{ .Site.Title }}" /> -->
  </div>
</section>